<template>
  <div class="container">
    <h1 class="section-title">Docx to pdf</h1>
    <FileSelect :format="'docx'"></FileSelect>
  </div>
</template>

<script>
// @ is an alias to /src


import FileSelect from "../components/FileSelect";

export default {
  name: 'docx',
  components: {
    FileSelect
  }
}
</script>

<style lang="sass" scoped>
  .container
    margin-top: 50px
</style>



