<template>
  <div class="container">
    <h1 class="section-title">Pptx to pdf</h1>
    <FileSelect :format="'pptx'"></FileSelect>
  </div>
</template>

<script>
  import FileSelect from "../components/FileSelect";

  export default {
    name: "pptx",
    components: {
      FileSelect
    }
  }
</script>

<style lang="sass" scoped>
  .container
    margin-top: 50px
</style>



