<template>
    <div>
        <div class="back">
            <h1 class="section-title start-title">Smart Convert allows you  to convert different formats</h1>
            <a href="#cards">
                <button class="mdl-button mdl-button--raised mdl-button--colored">Get Started</button>
            </a>
        </div>
        <Cards id="cards">
        </Cards>
    </div>
</template>

<script>
    import Cards from "../components/Cards";

    export default {
        name: "StartPage.vue",
        components: {
            Cards
        }
    }
</script>

<style lang="sass" scoped>
    .start-title
        color: #fff
        margin-bottom: 30px
    .back
        padding: 70px
        margin-bottom: 30px
        background-image: url('../../public/trianglify.svg')
        background-size: cover
</style>