<template>
    <div class="convert-card-square mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title mdl-card--expand">
            <img class="card-img" v-bind:src="'/' + type + '.svg'">
        </div>
        <div class="mdl-card__supporting-text">
            Welcome to converting from {{this.type}} to pdf
        </div>
        <router-link v-bind:to="'/' + type">
            <div class="mdl-card__actions mdl-card--border">
                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                    View
                </a>
            </div>
        </router-link>
    </div>
</template>

<script>
    export default {
        name: "Card",
        props: {
            type: String
        }
    }
</script>


<style land="scss" scoped>
    .convert-card-square.mdl-card {
        width: 320px;
        height: 320px;
    }
    .card-img {
        color: #000;
        width: 100%;
        height: 100%;
        /*background: center/50% no-repeat;*/
    }
</style>