<template>
    <div>
        <div class="cards">
            <div class="wrap-card">
                <Card :type="'docx'"></Card>
            </div>
            <div class="wrap-card">
                <Card :type="'pptx'"></Card>
            </div>
        </div>
    </div>
</template>

<script>
    import Card from "../components/Card";

    export default {
        name: "Cards",
        components: {
            Card
        }
    }
</script>

<style lang="sass" scoped>
    .cards
        display: flex
        flex-direction: row
        .wrap-card
            padding: 20px

</style>