<template>
  <div class="container">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--file">
      <input
        class="mdl-textfield__input"
        type="text"
        id="uploadFile"
        v-model="inputName"
        readonly
      />
      <div
        class="mdl-button mdl-button--primary mdl-button--icon mdl-button--file"
      >
        <i class="material-icons">attach_file</i
        ><input type="file" id="uploadBtn" v-bind:accept="'.' + this.format" @change="handleFileChange" />
      </div>
    </div>
    <button
      class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored"
      v-on:click="submitFile"
    >
      <i class="material-icons">send</i>
    </button>
    <div
      data-v-cedcd070=""
      id="pb"
      class="progress-bar mdl-progress mdl-js-progress is-upgraded"
      data-upgraded=",MaterialProgress"
    >
      <div class="progressbar bar bar1" style="width: 0%;"></div>
      <div class="bufferbar bar bar2" style="width: 100%;"></div>
      <div class="auxbar bar bar3" style="width: 0%;"></div>
    </div>
  </div>
</template>

<script>
import postsRepository from "../services/PostsRepository";
import FileManager from "../services/FileManager";

export default {
  name: "fileSelect",
  props: {
    format: String
  },
  data() {
    return {
      file: File,
      link: null,
      inputName: "Add File",
      sending: false
    };
  },
  methods: {
    handleFileChange(event) {
      this.file = event.target.files[0];
      this.inputName = this.file.name;
    },
    submitFile() {
      if (this.file.size !== undefined) {
        let formData = new FormData();
        formData.append("file", this.file);
        if (this.format === "docx") {
          document
            .getElementById("pb")
            .classList.add("mdl-progress__indeterminate");
          postsRepository
            .docxToPdf(formData)
            .then(response => {
              document
                .getElementById("pb")
                .classList.remove("mdl-progress__indeterminate");
              FileManager.download(response, this.file);
            })
            .catch();
        }
        if (this.format === "pptx") {
          document
            .getElementById("pb")
            .classList.add("mdl-progress__indeterminate");
          postsRepository
            .docxToPdf(formData)
            .then(response => {
              document
                .getElementById("pb")
                .classList.remove("mdl-progress__indeterminate");
              FileManager.download(response);
            })
            .catch();
        }
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.mdl-button--file {
  input {
    cursor: pointer;
    height: 100%;
    right: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 300px;
    z-index: 4;
  }
}

.mdl-textfield--file {
  .mdl-textfield__input {
    box-sizing: border-box;
    width: calc(100% - 32px);
  }
  .mdl-button--file {
    right: 0;
  }
}

  .progress-bar {
    margin: auto;
    background-color: black;
  }

</style>
