<template>
  <header class="navbar mdl-layout mdl-js-layout">
    <div class="mdl-layout__header mdl-layout__header--scroll">
      <div class="mdl-layout__header-row">
        <i class="material-icons">folder_open</i>
        <router-link to="/" class="mdl-layout-title logo"
          >Smart Convert</router-link
        >
        <div class="mdl-layout-spacer"></div>
        <!-- Navigation -->
        <nav class="mdl-navigation">
          <router-link to="/docx" class="mdl-navigation__link"
            >Docx</router-link
          >
          <router-link to="/pptx" class="mdl-navigation__link"
            >Pptx</router-link
          >
        </nav>
      </div>
    </div>
  </header>
</template>

<script>
export default {
  name: "NavBar"
};
</script>

<style lang="sass" scoped>
    .navbar
        position: fixed
        opacity: 0.95
    .logo
        color: #fff
        text-decoration: none
</style>
