<template>
  <div id="app">
    <NavBar></NavBar>
    <div class="content">
      <router-view />
    </div>
  </div>
</template>

<script>
  import NavBar from "./components/NavBar.vue";
  import "../node_modules/material-design-lite/material.min.js";

  export default {
    name: "app",
    components: {
      NavBar
    }
  }
</script>

<style lang="sass">
  @import "../node_modules/material-design-lite/material.min.css"
  @import url("https://fonts.googleapis.com/icon?family=Material+Icons")
  @import url("https://fonts.googleapis.com/css?family=Roboto")
  .section-title
    color: #3f51b5
    max-width: 60%
    margin: auto
  #app
    font-family: 'Roboto', Helvetica, Arial, sans-serif
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    text-align: center
  .content
    padding-top: 62px
</style>
